.cell {
    width: 50px;
    height: 50px;
    background-color: grey;
    font-size: 30px;
    text-align: center;
}

.shown {
    background-color: lightblue;
}

.mine {
    background-color: red;
    font-size: 30px;   
    text-align: center;
}


ul {
    list-style: none;
    display: absolute;
    
}
li {
  display: inline-block;
}

input {
    visibility: hidden;
    
}
label {
  cursor: pointer;
}

input:checked + label {
    background: grey;
    border: 1px solid;
    box-shadow: 1px 1px;
    border-radius: 5px;
}

.level-select {
    background-color: grey;
    height: 90px;   
    font-size: 2rem;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    
}

.game-info {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
    background-color: grey;
}

.liveLeft {
    margin-right: 10px;
}

/* .status {
        
}

.timer {

} */

.game-container {
    position: absolute;
    align-items: center;
    margin: auto;
}