td {
    width: 50px;
    height: 50px;
}



td:active {
    animation: shake .5s 2 alternate;

}

.cell {
    background-color: grey;
    font-size: 30px;
    text-align: center;
    box-shadow: inset 1px 1px 1px 1px black;
}

.shown {
    background-color: lightblue;
    box-shadow: inset 1px 1px 2px 2px rgb(70, 144, 168);
    transition: 0.3s;
}

.mine:active {
    animation: boom .2s 10 alternate;
    background-color: red;
}

.game-container {
    position: center;
    text-align: center;
    width: 80vh
    
}


.game-status {
    padding: 10px;
    width: 80vh;
    display: flex;
    justify-content: space-between;
}


.levels {
    display: flex;
    justify-content: space-around;
}

.levels button {
    font-size: 20px;
    font-weight: bolder;
}

.hints {
    display: flex;
    justify-content: space-around;
}

.hints-left {
    cursor: pointer;
}

.safe-click {
    cursor: pointer;
}

.board-container {
    display: flex;
    justify-content: center;
    width: 80vh;
}

.time {
    width: 50px;
    border: 1px solid black;
}

.hint-mode {
    font-size: 30px;
    font-weight: bolder;
}

.help-buttons {
    display: flex;
    justify-content: space-around;
    
}

.help-buttons button {
    font-size: 20px ;
    cursor: pointer;
}


@keyframes shake {

    20% { transform: translate(-6px, -4px); }
    20% { transform: translate(-8px,  4px); }
    20% { transform: translate(-10px, -10px); }
    20% { transform: translate(-10px, -10px); }
    20% { transform: translate(-8px,  4px); }
    

  }

  @keyframes boom {

    25% { transform: translate(-6px, 0px); }
    25% { transform: translate(5px,  0px); }
    25% { transform: translate(-6px, 0px); }
    25% { transform: translate(6px, 0px); }
    
    

  }